.TopBanner{
  font-size: 90px;
  width:100%;
  height: auto;
  justify-content: space-between;
  background-color: grey;
  position: relative;
}

.ProgressBarColor{
  background-color: green;
  width: 100px;
  height: 100%;
  position: absolute;
  z-index: 2;
  opacity: 0.5;
}

.ProgressBarDisplay{
  margin: auto;
}
