.FormBox{
  width: 100%;
  background-color: red;
}
.open-button {
  background-color: #555;
  color: red;
  padding: 0px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  width: 80%;
  margin-left: 10%;
  font-size: 80px;
  font-family: "Copperplate", "Fantasy";
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  width: 100%;
  border: none;
  position: fixed;
}

/* Add styles to the form container */
.form-container {
  font-size: 80px; 
  max-width: 100%;
  width: 100%;
  padding: 10px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  font-size: 80px; 
  width: 50%;
  margin-left: 25%;
  border: none;
  margin-bottom:10px;
  background: #f1f1f1;
  text-align: center;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  font-size: 80px; 
  background-color: #333
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  font-size: 80px; 
  text-align: center;
  background-color: #007500;
  color: white;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-left: 25%;
  margin-top:10px;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  font-size: 80px; 
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
