{% extends "base.html" %}
{% block title %}Squid-Counter{% endblock %}
{% block content %}
  <div class=Content>
    <div class=ProgressBanner>
      <div>
        <div class=ProgressBarColor style="width:{{percent}}%"></div>
        <div class=ProgressBarDisplay">{{total_distance}} of 1000 Miles</div>
      </div>
      <div class=PercentFooter>{{percent}}% complete</div>
    </div>
    <div class=FillSpacer>
      <h2>Longest Run = {{longest_run}}</h2>
      <h2>Last Run = {{last_run['distance']}}</h2>
    </div>
    <div class=FormBox>
      <button class="open-button" onclick="openForm()" id="openBtn">New Run</button>
      <div class="form-popup" id="myForm">
        <form action="/post_run" method="POST" class="form-container" autocomplete="off">
          <input type="text" name="distance">
          <button type="submit" class="btn">Submit Run</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
      </div>
    <div>
  </div>

  <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
      document.getElementById("openBtn").style.display = "none";
    }

    function closeForm() {
      document.getElementById("myForm").style.display = "none";
      document.getElementById("openBtn").style.display = "block";
    }
  </script>

{% endblock %}
