{% extends "base.html" %}
{% block title %}Squid-Counter{% endblock %}
{% block content %}
    <div class=ProgressBanner>
      <div>
        <div class=ProgressBarColor style="width:{{percent}}%"></div>
        <div class=ProgressBarDisplay">{{total_distance}} of 1000 Miles</div>
      </div>
      <div class=PercentFooter>{{percent}}% complete</div>
    </div>
    <div class=FormBox>
      <form action="/post_run" method="POST">
        <input type="text" name="distance">
        <input type="submit" value="Submit">
      </form>
    <div>

{% endblock %}
